@page
@model OpenSaludSecurity.Pages.Citas.EditModel

@{
    ViewData["Title"] = "Citas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Modificar</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cita.IdCita" />
            <div class="form-group">
                <label asp-for="Cita.DescripcionCita" class="control-label"></label>
                <input asp-for="Cita.DescripcionCita" class="form-control" />
                <span asp-validation-for="Cita.DescripcionCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cita.FechaCita" class="control-label"></label>
                <input asp-for="Cita.FechaCita" class="form-control" />
                <span asp-validation-for="Cita.FechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cita.Estado" class="control-label"></label>
                <select asp-for="Cita.Estado" asp-items="Html.GetEnumSelectList<RequestEstado>()" class="form-control">
						<option selected="selected" value="">Seleccionar...</option>
			    </select>
                <span asp-validation-for="Cita.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>