@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de contraseña restablecida";
}

<h1>@ViewData["Title"]</h1>
<p>
	Su contraseña ha sido restablecida Por favor<a asp-page="./Login"> haga clic aquí para iniciar sesión</a>.
</p>
